from rest_framework import serializers


class GoogleAuthSerializer(serializers.Serializer):
    access_token = serializers.CharField()


class GitHubAuthSerializer(serializers.Serializer):
    access_token = serializers.CharField()


class MagicLinkRequestSerializer(serializers.Serializer):
    email = serializers.EmailField()


class MagicLinkVerifySerializer(serializers.Serializer):
    token = serializers.CharField()


class OTPRequestSerializer(serializers.Serializer):
    email = serializers.EmailField()


class OTPVerifySerializer(serializers.Serializer):
    email = serializers.EmailField()
    otp = serializers.CharField(min_length=4, max_length=8)
