SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.local
{% if database == 'postgresql' -%}
DATABASE_URL=postgres://postgres:postgres@localhost:5432/{{ package_name }}
{% elif database == 'mysql' -%}
DATABASE_URL=mysql://root:root@localhost:3306/{{ package_name }}
{% endif -%}
{% if api_auth -%}
JWT_SECRET_KEY=change-me
{% endif -%}
{% if background_jobs -%}
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
{% endif -%}
