from datetime import timedelta

from rest_framework_simplejwt.tokens import RefreshToken


def create_tokens(user):
    refresh = RefreshToken.for_user(user)
    return {
        "access": str(refresh.access_token),
        "refresh": str(refresh),
    }


def default_jwt_settings():
    return {
        "ACCESS_TOKEN_LIFETIME": timedelta(hours=1),
        "REFRESH_TOKEN_LIFETIME": timedelta(days=1),
        "AUTH_HEADER_TYPES": ("Bearer",),
        "ROTATE_REFRESH_TOKENS": True,
    }
