from django.contrib import admin
from django.urls import path, include
from apps.web.views import health_check

urlpatterns = [
    path("admin/", admin.site.urls),
    path("health/", health_check, name="health-check"),
    path("", include("apps.web.urls")),
{% if project_type in ('api', 'hybrid') %}
    path("api/", include("apps.api.urls")),
{% endif -%}
]
