from django.contrib import admin
from django.urls import path, include

urlpatterns = [
    path("admin/", admin.site.urls),
{% if project_type in ('api', 'hybrid') %}
    path("api/", include("{{ package_name }}.apps.api.urls")),
{% endif -%}
{%- if project_type in ('ssr', 'hybrid') %}
    path("", include("{{ package_name }}.apps.web.urls")),
{%- endif %}
]
