from django.http import JsonResponse
from django.views.generic import TemplateView


def health_check(request):
    return JsonResponse({"status": "ok", "version": "1.0.0"})


class HomeView(TemplateView):
    template_name = "web/home.html"
